.node {
    -fx-background-color: #000000;
    -fx-pref-width: 40px;
    -fx-pref-height: 40px;
    -fx-padding: 4px;
}

#grid {
    -fx-border-color: blue;
    -fx-border-width: 3px;
}

#mainPane {
    -fx-background-color: #000000;
}